<div class="wrapper">

  <div class="header">
    <div class="header-left-content">
      <p class="brand">AppGo</p>
      <p class="header-title"><span class="bold">Brainstorming</span> for desired perfect Usability</p>
      <p class="header-subtitle">Our design projects are fresh and simple and will benefit your business greatly. Learn more about our work!</p>

      <button [routerLink]="['/users']" [queryParams]="{page: 1}" >Views Stats</button>

    </div>
    <div class="mobile">
      <img src="../../assets/images/mobile.svg" alt="">
    </div>
  </div>

  <div class="main-content">
    <p class="main-title">
      Why <span class="bold">small business owners
      love</span> AppCo?
    </p>
    <p class="main-subtitle">
      Our design projects are fresh and simple and will benefit your business greatly. Learn more about our work!
    </p>
    <div class="work-info">
      <div class="info-item">
        <img src="../../assets/images/cleanImg.svg">
        <p class="item-title">Clean Design</p>
        <p class="item-text">Increase sales by showing true dynamics of your website</p>
      </div>
      <div class="info-item">
        <img src="../../assets/images/secureImg.svg">
        <p class="item-title">Secure Data</p>
        <p class="item-text">Build your online store’s trust using Social Proof & Urgency.</p>
      </div>
      <div class="info-item">
        <img src="../../assets/images/retinaImg.svg">
        <p class="item-title">Retina Ready</p>
        <p class="item-text">Realize importance of social proof in customer’s purchase decision.</p>
      </div>
    </div>
  </div>

  <div class="footer">
    <div class="footer-input">
      <input type="text" placeholder="Enter your email">
      <button>Subscribe</button>
    </div>
    <div class="footer-text">
      <p class="footer-brand">AppCo</p>
      <p class="footer-text-center">All rights reserved by ThemeTags</p>
      <p class="copyrights">Copyrights © 2019. </p>
    </div>
  </div>
</div>
